requests
pymongo
pandas
numpy
seaborn
certifi
python-dotenv
pymongo[srv]==3.6 
scikit-learn
matplotlib
statsmodels
plotly
nbformat
tensorflow 
pyaml
mlflow
dagshub
fastapi
uvicorn
# jinja2
python-multipart
##-e .